<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * This file is part of The Official Amazon Payments Magento Extension
 * (c) creativestyle GmbH <amazon@creativestyle.de>
 * All rights reserved
 *
 * Reuse or modification of this source code is not allowed
 * without written permission from creativestyle GmbH
 *
 * @category   Creativestyle
 * @package    Creativestyle_CheckoutByAmazon
 * @copyright  Copyright (c) 2011 - 2013 creativestyle GmbH (http://www.creativestyle.de)
 * @author     Marek Zabrowarny / creativestyle GmbH <amazon@creativestyle.de>
 */
-->
<config>
    <modules>
        <Creativestyle_CheckoutByAmazon>
            <version>1.6.1</version>
        </Creativestyle_CheckoutByAmazon>
    </modules>
    <global>
        <blocks>
            <checkoutbyamazon>
                <class>Creativestyle_CheckoutByAmazon_Block</class>
            </checkoutbyamazon>
            <page>
                <rewrite>
                    <html_head>Creativestyle_CheckoutByAmazon_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <models>
            <checkoutbyamazon>
                <class>Creativestyle_CheckoutByAmazon_Model</class>
                <resourceModel>checkoutbyamazon_mysql4</resourceModel>
            </checkoutbyamazon>
            <checkoutbyamazon_mysql4>
                <class>Creativestyle_CheckoutByAmazon_Model_Mysql4</class>
                <entities>
                    <log_exception>
                        <table>amazon_log_exception</table>
                    </log_exception>
                    <log_exception_order>
                        <table>amazon_log_exception_order</table>
                    </log_exception_order>
                    <log_feed>
                        <table>amazon_log_feed</table>
                    </log_feed>
                    <log_feed_order>
                        <table>amazon_log_feed_order</table>
                    </log_feed_order>
                    <log_iopn>
                        <table>amazon_log_iopn</table>
                    </log_iopn>
                    <log_iopn_order>
                        <table>amazon_log_iopn_order</table>
                    </log_iopn_order>
                    <log_report>
                        <table>amazon_log_report</table>
                    </log_report>
                    <log_report_order>
                        <table>amazon_log_report_order</table>
                    </log_report_order>
                    <log_api>
                        <table>amazon_log_api</table>
                    </log_api>
                    <log_api_order>
                        <table>amazon_log_api_order</table>
                    </log_api_order>
                </entities>
            </checkoutbyamazon_mysql4>
        </models>
        <helpers>
            <checkoutbyamazon>
                <class>Creativestyle_CheckoutByAmazon_Helper</class>
            </checkoutbyamazon>
        </helpers>
        <resources>
            <checkoutbyamazon_setup>
                <setup>
                    <module>Creativestyle_CheckoutByAmazon</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </checkoutbyamazon_setup>
            <checkoutbyamazon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </checkoutbyamazon_write>
            <checkoutbyamazon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </checkoutbyamazon_read>
        </resources>
        <events>
            <amazon_api_post_call>
                <observers>
                    <amazon_payments_logger>
                        <type>singleton</type>
                        <class>Creativestyle_CheckoutByAmazon_Model_Observer</class>
                        <method>logApiCall</method>
                    </amazon_payments_logger>
                </observers>
            </amazon_api_post_call>
            <amazon_api_file_call>
                <observers>
                    <amazon_payments_logger>
                        <type>singleton</type>
                        <class>Creativestyle_CheckoutByAmazon_Model_Observer</class>
                        <method>logApiCall</method>
                    </amazon_payments_logger>
                </observers>
            </amazon_api_file_call>
            <sales_order_payment_cancel>
                <observers>
                    <amazon_payments_observer>
                        <type>singleton</type>
                        <class>Creativestyle_CheckoutByAmazon_Model_Observer</class>
                        <method>cancelOrderInAmazon</method>
                    </amazon_payments_observer>
                </observers>
            </sales_order_payment_cancel>
            <sales_order_save_after>
                <observers>
                    <amazon_payments_observer>
                        <type>singleton</type>
                        <class>Creativestyle_CheckoutByAmazon_Model_Observer</class>
                        <method>confirmShipmentToAmazon</method>
                    </amazon_payments_observer>
                </observers>
            </sales_order_save_after>
        </events>
        <sales>
            <order>
                <statuses>
                    <pending_amazon translate="label">
                        <label>Pending Amazon</label>
                    </pending_amazon>
                </statuses>
            </order>
        </sales>
        <payment>
            <groups>
                <amazonpayments>Amazon Payments</amazonpayments>
            </groups>
        </payment>
        <creativestyle>
            <checkoutbyamazon>
                <api>
                    <checkout>
                        <version>2010-08-31</version>
                        <xmlns>http://payments.amazon.com/checkout/v2/2010-08-31/</xmlns>
                        <endpoint_url>
                            <de_DE>
                                <live>https://payments.amazon.de/cba/api/purchasecontract/</live>
                                <sandbox>https://payments-sandbox.amazon.de/cba/api/purchasecontract/</sandbox>
                            </de_DE>
                            <en_GB>
                                <live>https://payments.amazon.co.uk/cba/api/purchasecontract/</live>
                                <sandbox>https://payments-sandbox.amazon.co.uk/cba/api/purchasecontract/</sandbox>
                            </en_GB>
                            <en_US>
                                <live>https://payments.amazon.com/cba/api/purchasecontract/</live>
                                <sandbox>https://payments-sandbox.amazon.com/cba/api/purchasecontract/</sandbox>
                            </en_US>
                        </endpoint_url>
                    </checkout>
                    <marketplace>
                        <ids>
                            <de_DE>A1OCY9REWJOCW5</de_DE>
                            <en_GB>A2WQPBGJ59HSXT</en_GB>
                            <en_US>AZ4B0ZS3LGLX</en_US>
                        </ids>
                        <feeds>
                            <version>2009-01-01</version>
                            <xmlns>http://mws.amazonaws.com/doc/2009-01-01/</xmlns>
                            <endpoint_url>
                                <de_DE>https://mws.amazonservices.de/</de_DE>
                                <en_GB>https://mws.amazonservices.co.uk/</en_GB>
                                <en_US>https://mws.amazonservices.com/</en_US>
                            </endpoint_url>
                        </feeds>
                        <orders>
                            <version>2011-01-01</version>
                            <xmlns>https://mws.amazonservices.com/Orders/2011-01-01</xmlns>
                            <endpoint_url>
                                <de_DE>https://mws.amazonservices.de/Orders/2011-01-01</de_DE>
                                <en_GB>https://mws.amazonservices.co.uk/Orders/2011-01-01</en_GB>
                                <en_US>https://mws.amazonservices.com/Orders/2011-01-01</en_US>
                            </endpoint_url>
                        </orders>
                        <reports>
                            <version>2009-01-01</version>
                            <xmlns>http://mws.amazonaws.com/doc/2009-01-01/</xmlns>
                            <endpoint_url>
                                <de_DE>https://mws.amazonservices.de/</de_DE>
                                <en_GB>https://mws.amazonservices.co.uk/</en_GB>
                                <en_US>https://mws.amazonservices.com/</en_US>
                            </endpoint_url>
                        </reports>
                    </marketplace>
                    <iopn>
                        <version>2008-11-30</version>
                        <xmlns>http://payments.amazon.com/checkout/2008-11-30/</xmlns>
                        <schema_path><![CDATA[app/code/<codePool>/Creativestyle/CheckoutByAmazon/schema/iopn.xsd]]></schema_path>
                    </iopn>
                </api>
                <debug>
                    <events>
                        <payment_method_is_active/>
                        <checkout_controller_onepage_save_shipping_method/>
                        <checkout_onepage_controller_success_action/>
                        <sales_order_payment_cancel/>
                        <sales_order_save_after/>
                        <controller_front_init_before/>
                    </events>
                </debug>
            </checkoutbyamazon>
        </creativestyle>
    </global>
    <frontend>
        <layout>
            <updates>
                <checkoutbyamazon>
                    <file>checkoutbyamazon.xml</file>
                </checkoutbyamazon>
            </updates>
        </layout>
        <routers>
            <checkoutbyamazon>
                <use>standard</use>
                <args>
                    <module>Creativestyle_CheckoutByAmazon</module>
                    <frontName>checkoutbyamazon</frontName>
                </args>
            </checkoutbyamazon>
        </routers>
        <translate>
            <modules>
                <Creativestyle_CheckoutByAmazon>
                    <files>
                        <default>Creativestyle_CheckoutByAmazon.csv</default>
                    </files>
                </Creativestyle_CheckoutByAmazon>
            </modules>
        </translate>
        <secure_url>
            <checkoutbyamazon>/checkoutbyamazon</checkoutbyamazon>
        </secure_url>
    </frontend>
    <admin>
        <routers>
            <checkoutbyamazon>
                <use>admin</use>
                <args>
                    <module>Creativestyle_CheckoutByAmazon</module>
                    <frontName>checkoutbyamazon</frontName>
                </args>
            </checkoutbyamazon>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <checkoutbyamazon>
                    <file>checkoutbyamazon.xml</file>
                </checkoutbyamazon>
            </updates>
        </layout>
        <translate>
            <modules>
                <Creativestyle_CheckoutByAmazon>
                    <files>
                        <default>Creativestyle_CheckoutByAmazon.csv</default>
                    </files>
                </Creativestyle_CheckoutByAmazon>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <amazon_api_call>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>checkoutbyamazon/observer::callAmazonApi</model></run>
            </amazon_api_call>
            <amazon_log_clean>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>checkoutbyamazon/observer::cleanAmazonLog</model></run>
            </amazon_log_clean>
            <amazon_feed_batching>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>checkoutbyamazon/observer::sendFeeds</model></run>
            </amazon_feed_batching>
        </jobs>
    </crontab>
    <default>
        <payment>
            <amazonpayments>
                <model>checkoutbyamazon/payment</model>
                <title>Amazon Payments</title>
                <payment_action>authorize</payment_action>
            </amazonpayments>
            <checkoutbyamazon>
                <group>amazonpayments</group>
                <model>checkoutbyamazon/payment_checkoutByAmazon</model>
                <title>Checkout by Amazon</title>
                <payment_action>authorize</payment_action>
                <active>1</active>
            </checkoutbyamazon>
            <checkoutbyamazon_sandbox>
                <group>amazonpayments</group>
                <model>checkoutbyamazon/payment_checkoutByAmazon_sandbox</model>
                <title>Checkout by Amazon (Sandbox)</title>
                <payment_action>authorize</payment_action>
                <active>1</active>
            </checkoutbyamazon_sandbox>
        </payment>
        <checkoutbyamazon>
            <signup>
                <info_active>1</info_active>
            </signup>
            <general>
                <active>0</active>
                <iopn_active>0</iopn_active>
                <marketplace>en_US</marketplace>
                <new_order_status>processing</new_order_status>
                <order_confirmation>1</order_confirmation>
                <sallowspecific>0</sallowspecific>
                <reuse_amazon_session>0</reuse_amazon_session>
                <cut_sku>40</cut_sku>
                <sandbox_mode>1</sandbox_mode>
            </general>
            <api>
                <order_update>0</order_update>
                <use_token>1</use_token>
                <report_schedule>_1_HOUR_</report_schedule>
                <feed_batching>0</feed_batching>
                <feed_schedule>_1_HOUR_</feed_schedule>
            </api>
            <design>
                <button_size>large</button_size>
                <button_color>orange</button_color>
                <button_background>white</button_background>
                <address_width>400</address_width>
                <address_height>228</address_height>
                <payment_width>400</payment_width>
                <payment_height>228</payment_height>
                <progress_width>220</progress_width>
                <progress_height>240</progress_height>
                <review_width>392</review_width>
                <review_height>306</review_height>
            </design>
            <logger>
                <active>0</active>
                <clean_after_day>7</clean_after_day>
            </logger>
        </checkoutbyamazon>
    </default>
</config>
